# yaml-language-server: $schema=https://json.schemastore.org/clang-format-21.x.json
---
BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 120

NamespaceIndentation: All

BinPackArguments: false
BinPackParameters: OnePerLine
ExperimentalAutoDetectBinPacking: false

AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: true

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: false
    AfterControlStatement: Never
    AfterEnum: false
    AfterFunction: false
    AfterNamespace: false
    AfterStruct: false
    AfterUnion: false
    BeforeElse: false
    BeforeLambdaBody: false
    BeforeWhile: false
    SplitEmptyFunction: false
    SplitEmptyRecord: false

BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4

PointerAlignment: Left

SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: Never
SpacesInContainerLiterals: false

AlignConsecutiveAssignments:
    Enabled: false
AlignConsecutiveDeclarations:
    Enabled: false

FixNamespaceComments: false
